In [17]:
import csv
import pandas as pd
import networkx as nx

path_df = "/home/shady/Projects/GML/Project_3/datasets/CA-HepTh.txt"


def text_to_zeroed_csv(path):
    dataset_name = str(path.split('/')[-1]).replace('.txt','')
    
    df = pd.read_csv(path, skiprows=3, delimiter='\t')
    df = df.rename(columns={'# FromNodeId':'From','ToNodeId':'To'})
    
    G = nx.from_pandas_edgelist(df,'From','To')
    nodes = G.number_of_nodes()
    edges = G.number_of_edges()
    
    from_list = list(df['From'].unique())
    to_list = list(df['To'].unique())
    node_ids = list(set(list(from_list + to_list)))

    node_ids.sort()
    
    d = {}
    for value, index in enumerate(node_ids):
        d[index] = value
        
    df['From'] = df['From'].map(d)
    df['To'] = df['To'].map(d)
    
    return(nodes, edges, df.to_csv('{}(corrected_index).csv'.format(dataset_name), index=False))
    
text_to_zeroed_csv(path_df)

(9877, 25998, None)

# previous code

In [1]:
import csv
import pandas as pd

path = "/home/shady/Projects/GML/Project_3/datasets/CA-HepTh.txt"
    
df = pd.read_csv(path, skiprows=3, delimiter='\t')
df = df.rename(columns={'# FromNodeId':'From','ToNodeId':'To'})

In [2]:
df.columns

Index(['From', 'To'], dtype='object')

In [6]:
import networkx as nx

# Graphtype = nx.Graph()
G = nx.from_pandas_edgelist(df,'From','To')
print(G.number_of_nodes())
print(G.number_of_edges())

9877
25998

In [4]:
df

        From     To
0      24325  24394
1      24325  40517
2      24325  58507
3      24394   3737
4      24394   3905
...      ...    ...
51966  62046  64033
51967  13552  20200
51968  13552  39176
51969  20200  13552
51970  20200  39176

[51971 rows x 2 columns]

In [7]:
from_list = list(df['From'].unique())
to_list = list(df['To'].unique())

In [8]:
node_ids = list(set(list(from_list + to_list)))

In [9]:
node_ids.sort()

In [10]:
d = {}
for value, index in enumerate(node_ids):
    d[index] = value

In [11]:
df['From'] = df['From'].map(d)
df['To'] = df['To'].map(d)
df

       From    To
0      3521  3524
1      3521  5739
2      3521  8396
3      3524   522
4      3524   549
...     ...   ...
51966  8919  9199
51967  2020  2871
51968  2020  5504
51969  2871  2020
51970  2871  5504

[51971 rows x 2 columns]

In [12]:
df.to_csv('CA-HepTh(corrected_index).csv', index=False)

In [ ]:
text_to_zeroed_csv